<!DOCTYPE html>

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="description" content=" Bài tập thực hành lập trình Web buổi 1 bài

tập 1" />
    <meta name="keywords" content="Lập trình Web cơ bản
 " />
    <title> 800 hộ dân Nha Trang chờ sổ đỏ 21 năm vẫn... chưa có </title>
</head>
<body>
    <h1>800 hộ dân Nha Trang chờ sổ đỏ 21 năm vẫn... chưa có</h1>
    <h3>Khoảng 800 hộ dân thôn Đất Lành (xã Vĩnh Thái, TP Nha Trang, Khánh Hòa) mòn mỏi chờ suốt 21 năm vẫn chưa được cấp giấy chứng nhận quyền sử dụng đất (sổ đỏ).</h3>
    <p> Ông Nguyễn Văn Đông (trú thôn Đất Lành) và nhiều hộ dân ở đây phản ảnh nhiều năm qua họ liên tục làm đơn gởi chính quyền đề nghị cấp sổ đỏ nhưng vẫn chưa được cấp. </p>
    <p> Trước đây, thôn Đất Lành là vùng kinh tế mới, người dân đến khai hoang, sinh sống theo quyết định 884/1986 của tỉnh Khánh Hòa. Đến nay đã thành một khu dân cư đông đúc. </p>
</body>
</html>