@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <title>Trang Giới thiệu</title>
</head>
<body>
    <h1>Đây là trang giới thiệu</h1>
    <div id="navigation">
        <a href="./intro.html">Trang Giới thiệu</a>
        <a href="../new.html">Trang Tin tức mới</a>
        <a href="../../home.html">Trang Chủ </a>
        <a href="../../contact.html">Trang Liên hệ</a>
    </div>


    <img src="../hinh01.jpeg" alt="Hình 1">
    <img src="../hinh02.jpeg" alt="Hình 2">
</body>
</html>
